body {
    padding: 0px;
    margin: 0px;
    background-color: #F5F5F5;
    font: 14px Helvetica Neue, Helvetica, Arial, sans-serif;

}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 5px 10px 8px 1px #f2e4e4; */
    width: 60vw;
    margin: auto;


    h1 {
        color: #b83f45;
        margin-top: 1rem;
        margin-bottom: 0.8rem;
        font-size: 5rem;
        font-weight: 200;
    }


    .todo {
        /* border: 1px solid black; */
        display: flex;
        height: 10vh;
        width: 55vw;
        margin-left: 60px;
        /* box-shadow: 10px 10px 8px 10px #eeeeee; */
        /* border-bottom: 1px solid gray; */

        /* #textInput */
        input {
            border: none;
            outline: none;
            height: 9.4vh;
            width: 50vw;
            margin-right: 3rem;
            margin-left: 0.3rem;
            font-size: 1.5rem;
            font-weight: 200;

        }

        input[type="text"] {
            padding-left: 55px;

        }

        /* input[type="text"]::placeholder {
          padding-left: 55px;
         
        } */
    }

    #footer ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        width: 50vw;

    }
}


.footer_main {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;


    p {
        margin: 0px;
        padding: 0.4rem;
        font-size: 0.65rem;
        opacity: 0.8;

    }
}


.item {
    position: relative;
}

.deleteBtn {
    opacity: 0;
    position: relative;
    float: right;
    /* box-shadow: 10px 10px 8px 10px #eeeeee; */
}

.item:hover .deleteBtn {
    opacity: 1;
}

.btn_header {
    height: 3.5rem;
    width: 4.5rem;
    /* transform: translate(5%, 0%); */
    border: none;
    /* margin-right:10px ; */
    /* margin-left:10px ; */
    display: none;
    font-size: 30px;
    background-color: white;
    opacity: 0.5;
}

#list>div>div>label {
    padding-left: 4rem;
    font-size: 30px;

    font-weight: 200;
    opacity: 0.6;
}

#list>div>div>input {
    padding-left: 3rem;
}

#list>div>div>button {
    float: right;
}


.item {
    width: 50vw;
    height: auto;
    border-bottom: 1px solid gray;
    padding: 0.7rem;
    margin-left: 1rem;
    background-color: white;
}

#list > div > input{
    margin-left: 1rem;
    margin-right: 4rem;
}